<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.JavaLearnLab">
        <activity
            android:name=".Topic1.TestsMain"
            android:exported="false" />
        <activity
            android:name=".Topic2.TestsMain"
            android:exported="false" />
        <activity
            android:name=".Topic3.TestsMain"
            android:exported="false" />
        <activity
            android:name=".Topic4.TestsMain"
            android:exported="false" />
        <activity
            android:name=".Topic5.TestsMain"
            android:exported="false" />
        <activity
            android:name=".Topic6.TestsMain"
            android:exported="false" />
        <activity
            android:name=".Topic7.TestsMain"
            android:exported="false" />
        <activity
            android:name=".Topic8.TestsMain"
            android:exported="false" />
        <activity
            android:name=".Topic9.TestsMain"
            android:exported="false" />
        <activity
            android:name=".Topic1.Theory"
            android:exported="false" />
        <activity
            android:name=".Topic2.Theory"
            android:exported="false" />
        <activity
            android:name=".Topic3.Theory"
            android:exported="false" />
        <activity
            android:name=".Topic4.Theory"
            android:exported="false" />
        <activity
            android:name=".Topic5.Theory"
            android:exported="false" />
        <activity
            android:name=".Topic6.Theory"
            android:exported="false" />
        <activity
            android:name=".Topic7.Theory"
            android:exported="false" />
        <activity
        android:name=".Topic8.Theory"
        android:exported="false" />
        <activity
            android:name=".Topic9.Theory"
            android:exported="false" />
        <activity
            android:name=".MainMenu.MainMenu"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>